/* .form>label{
    display: flex;
    flex-direction: column;
} */

.form > form > div{
    
    display: flex;
    flex-direction: column;
    justify-content: flex;
    background-color: whitesmoke;
    border-radius: 15px;
    font-weight: 700;
    padding: 15px;
    margin: 10px;

}
.form > form > div > button{
    margin: 10px 0px;
    cursor: pointer;

}

.form > form > div > input{
    border: none;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    outline: none;
    background-color: whitesmoke;
    color: gray;
}

.form > form > div > button{
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: black;
    margin: 5px;
    color: whitesmoke;
}


.form__heading{

    font-weight: 700;
    margin:auto;
    outline: auto;
    background-color: whitesmoke;
    


}
.form > form > div > label{
    margin-left: 10px;
   

}